h2 {
    color: rgb(174, 103, 166);
}

h1 {
    text-align: center;
}

.summary {
    text-align: center;
}

/* * {
    text-align: left;
} */

div {
    text-align: center;
}

footer{
    font-size: 20px;
}

title {
    color: slategray;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}
